@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Customer" asp-action="Cart" style="display:flex; justify-content: space-around;  ">

                <span id="cartCount" class="badge text-bg-info" style="border-radius:50%; padding:0px; padding-top: 1px; color:white; background-color:cornflowerblue; width:15px; height:15px;">0</span>
                <span class="fas fa-shopping-cart" style="margin:0px; margin-right:40px; "> <img class="cart" src="/media/cart.png" style="position:absolute; height:25px; width:25px; display:inline-block;"></span>

                
            </a>
        </li>
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>

    </li>
     
}
else
{
     
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>

}
</ul>
